/*
Theme Name: CreditosParaEmprendedores
Description: Dedicated Wordpress theme for Company Name
*/
/* ==========================================================================
	Base
/* ========================================================================== */
html {
  height: auto;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

html,
button,
input,
select,
textarea {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.4;
  background: #ebebeb;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.gm-style img {
  max-width: none;
}

/* ==========================================================================
	Links
/* ========================================================================== */
a {
  color: #000;
  text-decoration: underline;
}

a img {
  border: 0;
}

a:focus,
a:hover {
  color: black;
}

a:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
	Typography
/* ========================================================================== */
/* Headers */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  line-height: 1.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.3em;
  font-weight: normal;
}

h5, h6 {
  font-size: 1.1em;
}

/* Content Block Elements */
dl,
menu,
ol,
ul,
p,
pre {
  margin: 0 0 1em;
}

/* Lists */
menu,
ol,
ul {
  padding: 0 0 0 2em;
}

/* Selection Colors */
::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
	Helper Classes
/* ========================================================================== */
/* Prefixed with tags to override default tag styling for these elemets if .button is added */
button,
.button,
a.button,
input.button {
  display: inline-block;
}

/* Responsive Media Styles */
.media img,
.media video,
.media object,
.media iframe {
  width: 100%;
  height: auto;
}

/* Clear Fix */
.clearfix:after,
.cf:after {
  content: '';
  display: table;
  clear: both;
}

/* Floats */
.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

.alignnone {
  display: inline-block;
}

.aligncenter {
  display: block;
  float: none;
  text-align: center;
  clear: both;
  margin: 20px auto;
}

/* =============================================================================
	Structural Styles, Media Queries & Page Styling
/* ========================================================================== */
.container {
  width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.container:after {
  content: '';
  display: table;
  clear: both;
}

@media (max-width: 1023px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.error404 {
  text-align: center;
}

.error404 ul {
  text-align: left;
}

.content.full-width,
.full-width {
  float: none;
  width: 100%;
}

.article {
  margin-bottom: 1em;
}

/* Navigation */
nav > ul {
  margin: 0;
  padding: 0;
}

nav ul:after {
  content: '';
  display: table;
  clear: both;
}

/* Paginations */
.navigation.pagination {
  clear: both;
}

/* =============================================================================
	Layout
/* ========================================================================== */
header.main {
  padding: 30px 0;
  background-color: #ebebeb;
  position: relative;
}

header.main .container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

header.main .container:after {
  display: none;
}

header.main .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

header.main .menu .current-menu-item a {
  font-weight: 700;
}

header.main .menu a {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 767px) {
  header.main nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 20px 15px;
    text-align: center;
  }
  header.main nav li {
    padding: 10px 0;
  }
}

header.main .logo img {
  height: 55px;
  width: auto;
}

header.main .btn-menu {
  display: none;
  width: 45px;
  height: 45px;
}

@media (max-width: 767px) {
  header.main .btn-menu {
    display: block;
  }
}

header.main .btn-menu img {
  display: block;
  width: 100%;
}

header.main .btn-menu.active + nav {
  display: block;
}

footer.main {
  text-align: center;
  padding: 65px 0;
}

@media (max-width: 767px) {
  footer.main {
    padding: 40px 0;
  }
}

footer.main .logo-wrapper {
  padding: 0;
  margin: 0;
}

footer.main .logo-wrapper:after {
  content: '';
  display: block;
  width: 225px;
  height: 1px;
  background-color: #000;
  margin: 60px auto 75px;
}

@media (max-width: 767px) {
  footer.main .logo-wrapper:after {
    margin: 30px auto 35px;
  }
}

footer.main .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

footer.main .menu li {
  flex-grow: 1;
  width: 33%;
  padding: 10px;
}

@media (max-width: 767px) {
  footer.main .menu li {
    width: 100%;
  }
}

footer.main .menu a {
  font-size: 14px;
  text-decoration: none;
}

/* =============================================================================
	General
/* ========================================================================== */
.btn {
  font-weight: 700;
  font-size: 24px;
  color: #f6f6f6;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid #fff;
  background-color: #ec920b;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.21);
}

.btn:hover {
  color: #fff;
}

.btn-simple {
  font-weight: 700;
  font-size: 19px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #cccccc;
  padding: 10px 15px;
}

.btn-simple:hover {
  background-color: #ec920b;
  color: #fff;
}

.main .page-header {
  margin: 100px auto;
  padding: 0 100px;
  text-align: center;
}

@media (max-width: 767px) {
  .main .page-header {
    padding: 0;
    margin: 40px auto 60px;
  }
}

.main .page-header h1 {
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
  margin: 65px 0 75px;
}

@media (max-width: 767px) {
  .main .page-header h1 {
    margin: 25px 0 35px;
  }
}

.main .page-header p {
  text-align: justify;
}

.main .page-header:after {
  content: '';
  display: block;
  width: 225px;
  height: 1px;
  background-color: #000;
  margin: 55px auto;
}

.pagination {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.pagination h2 {
  display: none;
}

.pagination .page-numbers {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: #fff;
  color: #ec920b;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}

.pagination .page-numbers:hover {
  text-decoration: none;
}

.pagination .page-numbers.current {
  background-color: #ec920b;
  color: #fff;
  font-weight: 700;
}

.banner-section {
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: auto 100%;
  background-color: #f6f6f6;
}

.banner-section .container {
  height: 650px;
  text-align: right;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 1023px) {
  .banner-section .container {
    height: 400px;
  }
}

@media (max-width: 767px) {
  .banner-section .container {
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    height: 350px;
  }
}

.banner-section .content {
  width: 50%;
  float: right;
}

@media (max-width: 767px) {
  .banner-section .content {
    width: 100%;
    float: none;
  }
}

.banner-section .btn {
  padding: 15px 45px;
}

.banner-section p {
  font-weight: 900;
  font-size: 102px;
  line-height: 1;
  color: #ec920b;
  text-transform: uppercase;
  margin: 0 0 40px;
}

@media (max-width: 1023px) {
  .banner-section p {
    font-size: 80px;
  }
}

@media (max-width: 767px) {
  .banner-section p {
    font-size: 60px;
  }
}

.banner-section p > span {
  display: block;
}

.banner-section p .amount {
  font-size: 124px;
  color: #3d9dbd;
  white-space: nowrap;
}

@media (max-width: 1023px) {
  .banner-section p .amount {
    font-size: 94px;
  }
}

@media (max-width: 1023px) {
  .banner-section p .amount {
    font-size: 78px;
  }
}

.banner-section p .currency {
  font-size: 94px;
  text-transform: none;
}

@media (max-width: 1023px) {
  .banner-section p .currency {
    font-size: 80px;
  }
}

@media (max-width: 767px) {
  .banner-section p .currency {
    font-size: 60px;
  }
}

.banner-section p .small {
  font-size: 50px;
}

@media (max-width: 1023px) {
  .banner-section p .small {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .banner-section p .small {
    font-size: 30px;
  }
}

.blog .posts .post {
  display: flex;
  background-color: #fff;
  margin-bottom: 70px;
}

@media (max-width: 767px) {
  .blog .posts .post {
    display: block;
    margin-bottom: 50px;
  }
}

.blog .posts .post .gfx, .blog .posts .post .content {
  flex: 1;
  position: relative;
}

@media (max-width: 767px) {
  .blog .posts .post .gfx, .blog .posts .post .content {
    width: 100%;
  }
}

.blog .posts .post .gfx {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.blog .posts .post .gfx img {
  width: 100%;
  opacity: 0;
  display: none;
}

@media (max-width: 767px) {
  .blog .posts .post .gfx img {
    display: block;
  }
}

.blog .posts .post .post-entry {
  padding: 30px 40px 45px;
}

.blog .posts .post .btn-simple {
  position: absolute;
  bottom: 0;
  right: 0;
}

.blog .posts .post:nth-child(even) {
  flex-direction: row-reverse;
}

.post {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.32);
}

.post .post-info {
  display: block;
  font-weight: 5400;
  font-style: italic;
  font-size: 14px;
  color: #676767;
  margin-bottom: 20px;
}

.post .post-info span {
  display: inline-block;
  margin-right: 15px;
}

.post .post-info .author:before {
  content: url("images/icon-author.png");
  display: inline-block;
  vertical-align: baseline;
  margin-right: 5px;
}

.post .post-info .date:before {
  content: url("images/icon-date.png");
  display: inline-block;
  vertical-align: baseline;
  margin-right: 5px;
}

.post .post-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
}

.post .post-title a {
  text-decoration: none;
}

.post p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

.single-post main.content,
.category main.content {
  padding-top: 70px;
}

@media (max-width: 767px) {
  .single-post main.content,
  .category main.content {
    padding-top: 15px;
  }
}

.single-post .post, .single-post .posts,
.category .post,
.category .posts {
  width: calc(100% - 335px);
  background-color: #fff;
  float: left;
}

.single-post .post:after, .single-post .posts:after,
.category .post:after,
.category .posts:after {
  content: '';
  display: table;
  clear: both;
}

.single-post .post .content, .single-post .posts .content,
.category .post .content,
.category .posts .content {
  padding: 25px 45px;
}

@media (max-width: 767px) {
  .single-post .post .content, .single-post .posts .content,
  .category .post .content,
  .category .posts .content {
    padding: 20px 30px 20px !important;
  }
}

.single-post .post img, .single-post .posts img,
.category .post img,
.category .posts img {
  width: 100%;
}

.single-post .post .post-title, .single-post .posts .post-title,
.category .post .post-title,
.category .posts .post-title {
  font-style: italic;
  font-size: 36px;
  margin: 30px auto;
}

@media (max-width: 767px) {
  .single-post .post .post-title, .single-post .posts .post-title,
  .category .post .post-title,
  .category .posts .post-title {
    font-style: normal;
    margin-bottom: 1em !important;
    font-size: 22px;
    line-height: 24px;
  }
}

.single-post .post .cms-content p, .single-post .post .cms-content ul, .single-post .post .cms-content ol, .single-post .posts .cms-content p, .single-post .posts .cms-content ul, .single-post .posts .cms-content ol,
.category .post .cms-content p,
.category .post .cms-content ul,
.category .post .cms-content ol,
.category .posts .cms-content p,
.category .posts .cms-content ul,
.category .posts .cms-content ol {
  font-weight: 300;
  font-size: 19px;
  line-height: 30px;
}

@media (max-width: 767px) {
  .single-post .post .cms-content p, .single-post .post .cms-content ul, .single-post .post .cms-content ol, .single-post .posts .cms-content p, .single-post .posts .cms-content ul, .single-post .posts .cms-content ol,
  .category .post .cms-content p,
  .category .post .cms-content ul,
  .category .post .cms-content ol,
  .category .posts .cms-content p,
  .category .posts .cms-content ul,
  .category .posts .cms-content ol {
    font-size: 14px;
    line-height: 18px;
  }
}

.single-post aside,
.category aside {
  width: 290px;
  float: right;
}

@media (max-width: 1023px) {
  .single-post .post, .single-post aside {
    width: 100%;
    float: none;
  }
  .single-post .post {
    margin-bottom: 40px;
  }
}

.category main.content {
  padding-top: 0;
}

.category .posts {
  background: none;
}

.category .posts .post {
  width: calc(50% - 20px);
  margin-bottom: 50px;
}

.category .posts .post:nth-child(even) {
  float: right;
}

.category .posts .post img {
  width: 100%;
}

.category .posts .post .post-title {
  font-size: 22px;
  line-height: 24px;
  margin: 15px auto;
}

.category .posts .post .content {
  position: relative;
  padding-bottom: 45px;
}

.category .posts .post .btn-simple {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1023px) {
  .category .posts, .category aside {
    width: 100%;
    float: none;
  }
}

@media (max-width: 767px) {
  .category .posts .post {
    width: 100%;
    float: none !important;
  }
  .category aside {
    margin-bottom: 40px;
  }
}

.widget {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 25px;
}

.widget .widget-title {
  color: #04759a;
}

.widget.widget_categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget.widget_categories a {
  text-decoration: none;
}

.single-post .menu .blog-menu-item,
.category .menu .blog-menu-item {
  font-weight: 700;
}
