.banner-section {
	background-repeat: no-repeat;
	background-position: center 30%;
	background-size: auto 100%;
	background-color: #f6f6f6;

	.container {
		height: 650px;
		text-align: right;
		display: flex;
		flex-flow: row;
		justify-content: flex-end;
		align-items: center;

		@include mq(desktop) {
			height: 400px;
		}

		@include mq(mobile) {
			background: rgba(255,255,255,0.6);
			text-align: center;
			height: 350px;
		}
	}

	.content {
		width: 50%;
		float: right;

		@include mq(mobile) {
			width: 100%;
			float: none;
		}
	}

	.btn {
		padding: 15px 45px;
	}

	p {
		font-weight: 900;
		font-size: 102px;
		line-height: 1;
		color: #ec920b;
		text-transform: uppercase;
		margin: 0 0 40px;

		@include mq(desktop) {
			font-size: 80px;
		}

		@include mq(mobile) {
			font-size: 60px;
		}

		> span {
			display: block;
		}

		.amount {
			font-size: 124px;
			color: #3d9dbd;
			white-space: nowrap;

			@include mq(desktop) {
				font-size: 94px;
			}

			@include mq(desktop) {
				font-size: 78px;
			}
		}

		.currency {
			font-size: 94px;
			text-transform: none;

			@include mq(desktop) {
				font-size: 80px;
			}

			@include mq(mobile) {
				font-size: 60px;
			}
		}

		.small {
			font-size: 50px;

			@include mq(desktop) {
				font-size: 40px;
			}

			@include mq(mobile) {
				font-size: 30px;
			}
		}
	}
}