.posts {
	.blog & {
		.post {
			display: flex;
			background-color: #fff;
			margin-bottom: 70px;

			@include mq(mobile) {
				display: block;
				margin-bottom: 50px;
			}

			.gfx, .content {
				flex: 1;
				position: relative;

				@include mq(mobile) {
					width: 100%;
				}
			}

			.gfx {
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				img {
					width: 100%;
					opacity: 0;
					display: none;

					@include mq(mobile) {
						display: block;
					}
				}
			}

			.post-entry {
				padding: 30px 40px 45px;
			}

			.btn-simple {
				position: absolute;
				bottom: 0;
				right: 0;
			}

			&:nth-child(even) {
				flex-direction: row-reverse;
			}
		}
	}
}

.post {
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.32);

	.post-info {
		display: block;
		font-weight: 5400;
		font-style: italic;
		font-size: 14px;
		color: #676767;
		margin-bottom: 20px;

		span {
			display: inline-block;
			margin-right: 15px;
		}

		.author:before {
			content: url('images/icon-author.png');
			display: inline-block;
			vertical-align: baseline;
			margin-right: 5px;
		}

		.date:before {
			content: url('images/icon-date.png');
			display: inline-block;
			vertical-align: baseline;
			margin-right: 5px;
		}
	}

	.post-title {
		font-weight: 700;
		font-size: 22px;
		line-height: 24px;
		text-transform: uppercase;

		a {
			text-decoration: none;
		}
	}

	p {
		font-weight: 400;
		font-size: 14px;
		line-height: 1;
	}
}

.single-post,
.category {
	main.content {
		padding-top: 70px;

		@include mq(mobile) {
			padding-top: 15px;
		}
	}

	.post, .posts {
		width: calc(100% - 335px);
		background-color: #fff;
		float: left;
		@include cf();

		.content {
			padding: 25px 45px;

			@include mq(mobile) {
				padding: 20px 30px 20px !important;
			}
		}

		img {
			width: 100%;
		}

		.post-title {
			font-style: italic;
			font-size: 36px;
			margin: 30px auto;

			@include mq(mobile) {
				font-style: normal;
				margin-bottom: 1em !important;
				font-size: 22px;
				line-height: 24px;
			}
		}

		.cms-content {
			p, ul, ol {
				font-weight: 300;
				font-size: 19px;
				line-height: 30px;

				@include mq(mobile) {
					font-size: 14px;
					line-height: 18px;
				}
			}
		}
	}

	aside {
		width: 290px;
		float: right;
	}
}

.single-post {
	@include mq(desktop) {
		.post, aside {
			width: 100%;
			float: none;
		}

		.post {
			margin-bottom: 40px;
		}
	}
}

.category {
	main.content {
		padding-top: 0;
	}

	.posts {
		background: none;

		.post {
			width: calc(50% - 20px);
			margin-bottom: 50px;

			&:nth-child(even) {
				float: right;
			}

			img {
				width: 100%;
			}

			.post-title {
				font-size: 22px;
				line-height: 24px;
				margin: 15px auto;
			}

			.content {
				position: relative;
				padding-bottom: 45px;
			}

			.btn-simple {
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}
	}

	@include mq(desktop) {
		.posts, aside {
			width: 100%;
			float: none;
		}
	}

	@include mq(mobile) {
		.posts .post {
			width: 100%;
			float: none !important;
		}

		aside {
			margin-bottom: 40px;
		}
	}
}

.widget {
	background-color: #fff;
	margin-bottom: 30px;
	padding: 25px;

	.widget-title {
		color: #04759a;
	}

	&.widget_categories {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		a {
			text-decoration: none;
		}
	}
}

.single-post,
.category {
	.menu .blog-menu-item {
		font-weight: 700;	
	}
}