footer.main {
	text-align: center;
	padding: 65px 0;

	@include mq(mobile) {
		padding: 40px 0;
	}

	.logo-wrapper {
		padding: 0;
		margin: 0;

		&:after {
			content: '';
			display: block;
			width: 225px;
			height: 1px;
			background-color: #000;
			margin: 60px auto 75px;

			@include mq(mobile) {
				margin: 30px auto 35px;
			}
		}
	}

	.menu {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;

		li {
		    flex-grow: 1;
    		width: 33%;
    		padding: 10px;

    		@include mq(mobile) {
    			width: 100%;
    		}
		}

		a {
			font-size: 14px;
			text-decoration: none;
		}
	}
}