.btn {
	font-weight: 700;
	font-size: 24px;
	color: #f6f6f6;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid $color_opposite;
	background-color: #ec920b;
	border-radius: 2px;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.21);

	&:hover {
		color: #fff;
	}
}

.btn-simple {
	font-weight: 700;
	font-size: 19px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #cccccc;
	padding: 10px 15px;

	&:hover {
		background-color: #ec920b;
		color: #fff;
	}
}

.main {
	.page-header {
		margin: 100px auto;
		padding: 0 100px;
		text-align: center;

		@include mq(mobile) {
			padding: 0;
			margin: 40px auto 60px;
		}
		
		h1 {
			font-weight: 700;
			font-size: 34px;
			text-transform: uppercase;
			margin: 65px 0 75px;

			@include mq(mobile) {
				margin: 25px 0 35px;
			}
		}

		p {
			text-align: justify;
		}

		&:after {
			content: '';
			display: block;
			width: 225px;
			height: 1px;
			background-color: #000;
			margin: 55px auto;
		}
	}
}

.pagination {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;

	h2 {
		display: none;
	}

	.page-numbers {
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		background: #fff;
		color: #ec920b;
		line-height: 30px;
		text-align: center;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}

		&.current {
			background-color: #ec920b;
			color: #fff;
			font-weight: 700;
		}
	}
}