header.main {
	padding: 30px 0;
	background-color: #ebebeb;
	position: relative;
	
	.container {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;

		&:after {
			display: none;
		}
	}

	.menu {
		list-style: none;
		padding: 0;
		margin: 0;

		.current-menu-item {
			a {
				font-weight: 700;
			}
		}

		a {
			font-size: 16px;
			text-transform: uppercase;
			text-decoration: none;
		}
	}

	nav {
		@include mq(mobile) {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			background-color: #fff;
			padding: 20px 15px;
			text-align: center;

			li {
				padding: 10px 0;
			}
		}
	}

	.logo {
		img {
			height: 55px;
			width: auto;
		}
	}

	.btn-menu {
		display: none;
		width: 45px;
		height: 45px;

		@include mq(mobile) {
			display: block;
		}

		img {
			display: block;
			width: 100%;
		}

		&.active + nav {
			display: block;
		}
	}
}