/*
Theme Name: CreditosParaEmprendedores
Description: Dedicated Wordpress theme for Company Name
*/
/* ==========================================================================
	Base
/* ========================================================================== */
html {
  height: auto;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

html,
button,
input,
select,
textarea,
.ui-selectmenu-button {
  font-family: 'PT Sans', sans-serif;
  color: #686868;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.4;
  background: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.gm-style img {
  max-width: none;
}

/* ==========================================================================
	Links
/* ========================================================================== */
a {
  color: #000;
  text-decoration: underline;
}

a img {
  border: 0;
}

a:focus,
a:hover {
  color: black;
}

a:focus {
  outline: 0;
}

a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
	Typography
/* ========================================================================== */
/* Headers */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  line-height: 22.5px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22.5px;
}

h3 {
  font-size: 19.5px;
}

h4 {
  font-size: 19.5px;
  font-weight: normal;
}

h5, h6 {
  font-size: 16.5px;
}

/* Content Block Elements */
dl,
menu,
ol,
ul,
p,
pre {
  margin: 0 0 15px;
}

/* Lists */
menu,
ol,
ul {
  padding: 0 0 0 30px;
}

/* Selection Colors */
::-moz-selection {
  background: #686868;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #686868;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
	Helper Classes
/* ========================================================================== */
/* Prefixed with tags to override default tag styling for these elemets if .button is added */
button,
.button,
a.button,
input.button {
  display: inline-block;
}

/* Responsive Media Styles */
.media img,
.media video,
.media object,
.media iframe {
  width: 100%;
  height: auto;
}

/* Clear Fix */
.clearfix:after,
.cf:after {
  content: '';
  display: table;
  clear: both;
}

/* Floats */
.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

.alignnone {
  display: inline-block;
}

.aligncenter {
  display: block;
  float: none;
  text-align: center;
  clear: both;
  margin: 20px auto;
}

/* =============================================================================
	Structural Styles, Media Queries & Page Styling
/* ========================================================================== */
.container {
  width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

.container:after {
  content: '';
  display: table;
  clear: both;
}

@media (max-width: 1119px) {
  .container {
    width: 992px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.error404 {
  text-align: center;
}

.error404 ul {
  text-align: left;
}

.content.full-width,
.full-width {
  float: none;
  width: 100%;
}

.article {
  margin-bottom: 15px;
}

/* Navigation */
nav > ul {
  margin: 0;
  padding: 0;
}

nav ul:after {
  content: '';
  display: table;
  clear: both;
}

/* Paginations */
.navigation.pagination {
  clear: both;
}

/* =============================================================================
	Layout
/* ========================================================================== */
header.main {
  padding: 0;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 5px -1px #999;
}

header.main .container {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

header.main .container:after {
  display: none;
}

header.main .menu {
  list-style: none;
  padding: 0;
  margin: 0 75px 0 0;
  font-size: 0;
}

@media (max-width: 767px) {
  header.main .menu {
    margin: 0;
  }
}

header.main .menu li {
  display: inline-block;
}

@media (max-width: 767px) {
  header.main .menu li {
    display: block;
    padding: 0;
  }
}

header.main .menu .current-menu-item a,
header.main .menu li:hover a {
  font-weight: 700;
  color: #00ada5;
  border-color: #00ada5;
}

header.main .menu a {
  display: block;
  font-size: 14px;
  color: #8a8a8a;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding: 28px 12px 24px;
}

@media (max-width: 767px) {
  header.main .menu a {
    display: inline-block;
    padding: 10px;
  }
}

header.main .menu a:after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

@media (max-width: 767px) {
  header.main nav {
    display: none;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 20px 15px;
    text-align: center;
  }
  header.main nav li {
    padding: 10px 0;
  }
}

header.main .logo {
  margin: 9px auto 9px 0;
}

header.main .logo img {
  height: 55px;
  width: auto;
}

header.main .btn-menu {
  display: none;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  color: #00ada5;
}

@media (max-width: 767px) {
  header.main .btn-menu {
    display: block;
  }
}

header.main .btn-menu img {
  display: block;
  width: 100%;
}

header.main .btn-menu.active + nav {
  display: block;
}

header.main .btn-search {
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid #00ada5;
  border-radius: 2px;
  background: url("images/icon-search.png") no-repeat center center;
}

header.main .search-wrapper {
  position: absolute;
  top: calc(100% + 2px);
  right: 0;
  background-color: #fff;
  padding: 15px;
  display: none;
}

header.main .search-wrapper input {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

header.main .search-wrapper form {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  overflow: hidden;
  font-size: 0;
}

header.main .search-wrapper input[type="text"] {
  font-style: italic;
  font-size: 18px;
  color: #8a8a8a;
  padding-left: 10px;
  padding-right: 10px;
}

header.main .search-wrapper ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #dadada;
  opacity: 1;
}

header.main .search-wrapper ::-moz-placeholder {
  /* Firefox 19+ */
  color: #dadada;
  opacity: 1;
}

header.main .search-wrapper :-ms-input-placeholder {
  /* IE 10+ */
  color: #dadada;
  opacity: 1;
}

header.main .search-wrapper :-moz-placeholder {
  /* Firefox 18- */
  color: #dadada;
  opacity: 1;
}

header.main .search-wrapper input[type="submit"] {
  width: 32px;
  font-size: 26px;
  color: #fff;
  background-color: #00ada5;
}

header.main .search-wrapper.active {
  display: block;
}

footer.main {
  background-color: #fff;
  text-align: center;
  margin-top: 65px;
  padding: 65px 0;
}

@media (max-width: 767px) {
  footer.main {
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

footer.main .widget_text {
  text-align: left;
  padding: 0;
}

.single-post main.content,
.category main.content,
.archive main.content,
.page main.content {
  padding-top: 40px;
}

@media (max-width: 767px) {
  .single-post main.content,
  .category main.content,
  .archive main.content,
  .page main.content {
    padding-top: 15px;
  }
}

.single-post .posts, .single-post .post-wrapper,
.category .posts,
.category .post-wrapper,
.archive .posts,
.archive .post-wrapper,
.page .posts,
.page .post-wrapper {
  width: calc(100% - 335px);
  float: left;
}

.single-post aside,
.category aside,
.archive aside,
.page aside {
  width: 290px;
  float: right;
}

@media (max-width: 991px) {
  .single-post .posts, .single-post .post-wrapper, .single-post aside,
  .category .posts,
  .category .post-wrapper,
  .category aside,
  .archive .posts,
  .archive .post-wrapper,
  .archive aside,
  .page .posts,
  .page .post-wrapper,
  .page aside {
    width: 100%;
    float: none;
  }
  .single-post .post, .single-post .post-wrapper,
  .category .post,
  .category .post-wrapper,
  .archive .post,
  .archive .post-wrapper,
  .page .post,
  .page .post-wrapper {
    margin-bottom: 40px;
  }
}

/* =============================================================================
	General
/* ========================================================================== */
.btn {
  font-weight: 700;
  font-size: 24px;
  color: #f6f6f6;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid #fff;
  background-color: #00ada5;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.21);
}

.btn:hover {
  color: #fff;
}

.btn-simple {
  font-weight: 700;
  font-size: 19px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #cccccc;
  padding: 10px 15px;
}

.btn-simple:hover {
  background-color: #00ada5;
  color: #fff;
}

.heading-line, footer.main .widget_text .widget-title, .main .page-header h1 {
  color: #6c6c6c;
  overflow: hidden;
}

.heading-line span, footer.main .widget_text .widget-title span, .main .page-header h1 span {
  position: relative;
}

.heading-line span:after, footer.main .widget_text .widget-title span:after, .main .page-header h1 span:after {
  content: '/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////';
  font-style: italic;
  font-size: 6px;
  letter-spacing: 5px;
  margin-left: 5px;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 100%;
}

.main .page-header {
  padding: 20px 0 30px;
}

.main .page-header h1 {
  font-weight: 400;
  font-size: 26px;
  text-transform: uppercase;
}

.main .page-header p {
  text-align: justify;
  column-count: 2;
  column-gap: 40px;
}

@media (max-width: 767px) {
  .main .page-header p {
    column-count: 1;
    column-gap: 0;
  }
}

.pagination {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.pagination h2 {
  display: none;
}

.pagination .page-numbers {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: #fff;
  color: #00ada5;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}

.pagination .page-numbers:hover {
  text-decoration: none;
}

.pagination .page-numbers.current {
  background-color: #00ada5;
  color: #fff;
  font-weight: 700;
}

.row {
  display: flex;
  margin: 0 -15px;
}

@media (max-width: 767px) {
  .row {
    display: block;
  }
}

.row .col {
  padding: 0 15px;
}

.contact-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-links li {
  margin-top: 10px;
}

.contact-links a {
  font-weight: 700;
  font-size: 16px;
  color: #00ada5;
}

@media (max-width: 767px) {
  .contact-links a {
    font-size: 14px;
  }
}

.contact-links a:before {
  font-family: 'FontAwesome';
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}

.contact-links [href*="mailto"]:before {
  content: '\f0e0';
}

.contact-links [href*="tel"]:before {
  content: '\f095';
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.form-wrapper .loader {
  border-top: 1.1em solid rgba(0, 173, 165, 0.2);
  border-right: 1.1em solid rgba(0, 173, 165, 0.2);
  border-bottom: 1.1em solid rgba(0, 173, 165, 0.2);
  border-left: 1.1em solid #00ada5;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading .loader {
  display: block;
}

.loading .calculator-wrapper,
.loading .btn-wrapper {
  visibility: hidden;
}

.loading .step {
  opacity: 0.3;
}

.banner-section .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.banner-section img {
  display: block;
  width: auto;
  margin: 0 auto;
}

.posts {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.blog .posts .post {
  width: 31%;
  background-color: #fff;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .blog .posts .post {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .blog .posts .post {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
}

.post {
  border: 1px solid #cdcdcd;
}

.post .gfx {
  position: relative;
}

.post .gfx img {
  width: 100%;
}

.post .post-info {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  bottom: 10px;
  right: 30px;
  left: 30px;
}

.post .post-categories {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #00ada5;
}

.post .post-categories a {
  color: inherit;
  text-decoration: none;
}

.post .post-categories li {
  display: inline-block;
}

.post .post-categories li:after {
  content: ',';
}

.post .post-categories li:last-child:after {
  content: '';
}

.post .post-title a {
  text-decoration: none;
  color: inherit;
}

.post .post-title + p {
  font-size: 19px;
  margin-bottom: 30px;
}

.post .content {
  padding: 25px 30px;
}

@media (max-width: 767px) {
  .post .content {
    padding: 20px 15px 20px !important;
  }
}

.post .post-entry {
  color: #444444;
}

.post .post-entry img {
  width: 100%;
  margin-bottom: 30px;
}

.post .post-entry h1, .post .post-entry h2, .post .post-entry h3, .post .post-entry h4, .post .post-entry h5, .post .post-entry h6 {
  margin-bottom: 15px;
}

.post .post-entry h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  margin-top: 30px;
}

.post .post-entry h1:first-child {
  margin-top: 0;
  margin-bottom: 30px;
}

.post .post-entry h2 {
  font-weight: 400;
  font-size: 26px;
}

.post .post-entry h3 {
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

.post .post-entry h4 {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.post .post-entry h5 {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.post .post-entry h6 {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.post .post-entry p {
  font-weight: 400;
  font-size: 15px;
}

.post .post-entry a {
  color: #00ada5;
}

.post .post-entry blockquote {
  font-style: italic;
  font-size: 19px;
  position: relative;
  margin-left: 0;
  padding-left: 40px;
}

.post .post-entry blockquote:before {
  content: '\201C';
  font-size: 80px;
  line-height: 80px;
  color: #00ada5;
  position: absolute;
  top: 0;
  left: -8px;
}

.post .post-entry ul, .post .post-entry ol {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
}

.post .post-entry ul li, .post .post-entry ol li {
  position: relative;
}

.post .post-entry ul li {
  padding-left: 35px;
}

.post .post-entry ul li:before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #00ada5;
  position: absolute;
  top: 7px;
  left: 25px;
}

.post .post-entry ol {
  counter-reset: custom-counter;
}

.post .post-entry ol li {
  padding-left: 40px;
}

.post .post-entry ol li:before {
  content: counter(custom-counter) ".";
  counter-increment: custom-counter;
  display: block;
  font-weight: 700;
  color: #00ada5;
  position: absolute;
  top: 0;
  right: calc(100% - 35px);
}

.post .tags-wrapper {
  font-size: 16px;
  color: #00ada5;
  padding-top: 15px;
  border-top: 2px solid #e6e6e6;
}

.post .tags-wrapper span {
  color: #c8c8c8;
}

.post .tags-wrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.post .tags-wrapper a {
  color: inherit;
  text-decoration: none;
}

.blog .post .gfx, .blog .post .content,
.category .post .gfx,
.category .post .content,
.archive .post .gfx,
.archive .post .content {
  flex: 1;
  position: relative;
}

@media (max-width: 767px) {
  .blog .post .gfx, .blog .post .content,
  .category .post .gfx,
  .category .post .content,
  .archive .post .gfx,
  .archive .post .content {
    width: 100%;
  }
}

.blog .post .gfx img,
.category .post .gfx img,
.archive .post .gfx img {
  display: block;
  width: 100%;
}

.blog .post .content,
.category .post .content,
.archive .post .content {
  padding: 35px 25px 30px;
}

.blog .post .post-title,
.category .post .post-title,
.archive .post .post-title {
  font-size: 26px;
}

.blog .post .post-title a,
.category .post .post-title a,
.archive .post .post-title a {
  color: inherit;
}

.blog .post .link-simple,
.category .post .link-simple,
.archive .post .link-simple {
  font-style: italic;
  text-decoration: none;
}

.blog .post .post-info,
.category .post .post-info,
.archive .post .post-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 20px;
  position: static;
  color: #a9a8a8;
  font-weight: 500;
  font-size: 13px;
  color: #676767;
}

.blog .post .post-categories,
.category .post .post-categories,
.archive .post .post-categories {
  color: inherit;
}

.category .post .gfx, .category .post .content,
.archive .post .gfx,
.archive .post .content {
  flex: 1;
  position: relative;
}

@media (max-width: 767px) {
  .category .post .gfx, .category .post .content,
  .archive .post .gfx,
  .archive .post .content {
    width: 100%;
  }
}

.category .post .gfx img,
.archive .post .gfx img {
  display: block;
  width: 100%;
}

.single-post .post, .single-post .posts,
.category .post,
.category .posts,
.archive .post,
.archive .posts {
  background-color: #fff;
}

.category main.content,
.archive main.content {
  padding-top: 0;
}

.category .posts,
.archive .posts {
  background: none;
}

.category .posts .post,
.archive .posts .post {
  width: calc(50% - 20px);
  margin-bottom: 50px;
}

.category .posts .post:nth-child(even),
.archive .posts .post:nth-child(even) {
  float: right;
}

.post-pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

@media (max-width: 767px) {
  .post-pagination-wrapper {
    flex-flow: column;
    margin: 0;
  }
}

.post-pagination-wrapper a {
  display: block;
  width: calc(50% - 6px);
  min-height: 200px;
  position: relative;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 767px) {
  .post-pagination-wrapper a {
    width: 100%;
    margin-top: 20px;
    min-height: 0;
  }
  .post-pagination-wrapper a:first-child {
    margin-top: 0;
  }
}

.post-pagination-wrapper a:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 173, 165, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: background 0.3s ease-in;
}

.post-pagination-wrapper a .content {
  position: relative;
  z-index: 1;
  padding: 20px 40px;
}

@media (max-width: 767px) {
  .post-pagination-wrapper a .content {
    padding: 20px 15px;
  }
}

.post-pagination-wrapper a .content .link {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  color: #c7fefd;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.post-pagination-wrapper a .content .title {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 0;
}

.post-pagination-wrapper a .content.prev {
  text-align: left;
}

.post-pagination-wrapper a .content.prev .title, .post-pagination-wrapper a .content.prev .link {
  text-align: left;
}

.post-pagination-wrapper a .content.prev .link:before {
  content: '\2039';
  display: inline-block;
  margin-right: 3px;
}

.post-pagination-wrapper a .content.next {
  text-align: right;
}

.post-pagination-wrapper a .content.next .title, .post-pagination-wrapper a .content.next .link {
  text-align: right;
}

.post-pagination-wrapper a .content.next .link:after {
  content: '\203A';
  display: inline-block;
  margin-left: 3px;
}

.post-pagination-wrapper a:hover:before {
  background-color: #00ada5;
}

.widget {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 25px;
}

.widget .widget-title {
  color: #04759a;
}

.widget.widget_categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget.widget_categories a {
  text-decoration: none;
}

.widget.widget_recent_entries ul {
  padding: 0 0 0 15px;
}

.single-post .menu .blog-menu-item,
.category .menu .blog-menu-item {
  font-weight: 700;
}

.page article {
  min-height: 540px;
  padding: 40px 25px;
  border: 1px solid #cdcdcd;
  background-color: #fff;
}

@media (max-width: 991px) {
  .page article {
    min-height: 0;
  }
}

.form-steps-wrapper h1 {
  font-weight: 700;
  font-size: 24px;
  color: #444;
  text-align: center;
  margin-bottom: 55px;
}

@media (max-width: 991px) {
  .form-steps-wrapper h1 {
    margin-bottom: 40px;
  }
}

.form-steps-wrapper h1:after {
  content: '';
  display: block;
  width: 40px;
  height: 4px;
  background-color: #00ada5;
  margin: 25px auto 0;
}

.form-wrapper {
  display: block !important;
}

.form-wrapper .row {
  justify-content: space-between;
}

.form-wrapper .step {
  display: block !important;
}

.form-wrapper .thank-you {
  display: none;
}

.form-wrapper .content-wrapper {
  width: calc(100% - 360px);
}

@media (max-width: 767px) {
  .form-wrapper .content-wrapper {
    width: 100%;
  }
}

.form-wrapper aside {
  width: 360px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-wrapper aside .box:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .form-wrapper aside {
    width: 100%;
  }
}

.progress-wrapper .steps-wrapper {
  margin-bottom: 10px;
}

.progress-wrapper .step-description {
  margin-bottom: 30px;
}

.steps-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}

.steps-wrapper p, .steps-wrapper span {
  font-weight: 700;
  color: #333333;
}

.steps-wrapper p {
  font-size: 16px;
  margin-bottom: 5px;
}

.steps-wrapper span {
  display: block;
  font-size: 12px;
}

@media (max-width: 991px) {
  .steps-wrapper {
    justify-content: center;
  }
  .steps-wrapper > div {
    display: none;
  }
  .steps-wrapper > div.active {
    display: block;
    text-align: center;
  }
}

.steps-indicator {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #f6f6f6;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: content-box;
  border-bottom: 2px solid #d5d5d5;
  border-right: 2px solid #d5d5d5;
}

.steps-indicator span {
  display: block;
  width: 0;
  height: 10px;
  background-color: #00ada5;
  transition: width 0.5s ease-in;
}

.step-description {
  font-weight: 700;
  font-size: 26px;
  color: #00ada5;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
}

.step-description ~ .step-description {
  display: none;
}

@media (max-width: 991px) {
  .step-description {
    text-align: center;
  }
}

.step-description b {
  font-weight: 800;
}

.form-wrapper form {
  position: relative;
  padding-top: 20px;
}

@media (max-width: 991px) {
  .form-wrapper form {
    padding-top: 0;
  }
}

.form-wrapper form h2 {
  font-weight: 700;
  font-size: 24px;
  color: #444;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 30px;
}

.form-wrapper form h2:after {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: #ccc;
  margin-top: 10px;
}

.form-wrapper form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form-wrapper form .form-item {
  margin-bottom: 25px;
}

.form-wrapper form .form-item.vertical label:not(.label) {
  display: block;
  width: 100%;
  margin-right: 0;
  margin-bottom: 15px;
}

.form-wrapper form label {
  font-weight: 700;
  font-size: 12px;
  color: #999999;
  margin-right: 25px;
  cursor: pointer;
}

.form-wrapper form label a {
  color: #00ada5;
}

.form-wrapper form .label {
  display: block;
  font-weight: 700;
  font-size: 12px;
  color: #00ada5;
  margin-bottom: 8px;
  margin-right: 0;
}

.form-wrapper form input[type="text"],
.form-wrapper form input[type="password"],
.form-wrapper form input[type="email"],
.form-wrapper form textarea {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #c3c3c3;
  font-weight: 400;
  font-size: 16px;
}

.form-wrapper form input[type="text"]:focus,
.form-wrapper form input[type="password"]:focus,
.form-wrapper form input[type="email"]:focus,
.form-wrapper form textarea:focus {
  border-color: #00ada5;
}

.form-wrapper form input[type="checkbox"],
.form-wrapper form input[type="radio"] {
  display: inline-block;
  vertical-align: 1px;
  margin-right: 10px;
}

.form-wrapper form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.form-wrapper form textarea {
  height: 210px;
  padding: 10px;
  resize: noresize;
}

.form-wrapper form select {
  width: 100% !important;
}

.form-wrapper form .ui-selectmenu-button.ui-button {
  border-radius: 0;
  background-color: #fff;
  width: 100%;
  height: 40px;
  padding: 0;
}

.form-wrapper form .ui-selectmenu-button.ui-button .ui-selectmenu-text {
  width: calc(100% - 60px);
  height: 100%;
  padding: 0 10px;
  font-size: 16px;
  line-height: 40px;
}

.form-wrapper form .ui-selectmenu-button.ui-button .ui-selectmenu-icon {
  margin: 10px 10px 0;
}

.form-wrapper form .error-msg {
  display: none;
}

.form-wrapper form .wpcf7-not-valid,
.form-wrapper form .error {
  border-color: red !important;
}

.form-wrapper form .wpcf7-not-valid ~ small,
.form-wrapper form .wpcf7-not-valid ~ .error-msg,
.form-wrapper form .error ~ small,
.form-wrapper form .error ~ .error-msg {
  display: block;
  color: red;
}

.form-wrapper form small {
  display: block;
  margin-top: 6px;
  font-weight: 700;
  font-size: 10px;
  color: #999;
}

.form-wrapper form .btn-wrapper {
  text-align: center;
  margin-top: 10px;
}

.ui-menu {
  max-height: 200px;
}

.box {
  background-color: #fff;
  border: 1px solid #cdcdcd;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px 35px;
  color: #333333;
  position: relative;
}

@media (max-width: 767px) {
  .box {
    padding: 20px 15px !important;
  }
}

.box h3 {
  font-weight: 700;
  font-size: 16px;
  color: #00ada5;
  margin-bottom: 20px;
}

.box table {
  width: 100%;
  border-collapse: collapse;
}

.box table td {
  font-weight: 700;
  font-size: 16px;
  padding: 5px 0;
  vertical-align: top;
  white-space: nowrap;
}

.box table td:first-child {
  width: 99%;
}

.box table td:last-child {
  font-size: 18px;
  color: #a3a3a3;
}

.box table tr:last-child td:last-child {
  color: #00ada5;
}

.box table tbody tr:last-child td {
  padding-bottom: 18px;
}

.box table tfoot {
  border-top: 1px solid #cccccc;
}

.box table tfoot td {
  padding-top: 15px;
  padding-bottom: 5px;
}

.box table small {
  display: block;
  font-weight: 700;
  font-size: 12px;
  margin-top: 5px;
  color: #333;
}

.box.support {
  background: url("images/gfx-support.jpg") no-repeat top right;
  background-size: cover;
  padding: 30px 15px 30px 35px;
}

.box.support p {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  max-width: 65%;
  margin-bottom: 20px;
}

.box.support p em {
  display: block;
  font-style: normal;
  color: #00ada5;
}

.form-wrapper .btn-primary,
.thank-you-wrapper .btn-primary {
  font-size: 12px;
  padding: 12px 25px 10px;
  border: none;
  border-radius: 0;
  box-shadow: 2px 2px 0 0 #007872;
  cursor: pointer;
}

.thank-you-wrapper {
  display: none;
  padding: 100px 0;
  text-align: center;
}

@media (max-width: 767px) {
  .thank-you-wrapper {
    padding: 20px 0 0;
  }
}

.thank-you-wrapper h2 {
  font-weight: 700;
  font-size: 24px;
  color: #444;
  margin: 30px 0 25px;
  letter-spacing: -1px;
}

.thank-you-wrapper p {
  font-weight: 400;
  font-size: 16px;
  margin: 0 auto 40px;
  color: #444;
  max-width: 250px;
  letter-spacing: -1px;
}

.thank-you-wrapper .fa {
  font-size: 24px;
  color: #00ada5;
}

.thank-you-wrapper .thank-you {
  display: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 500px;
  max-width: 760px;
  margin: 0 auto;
  align-items: center;
}

@media (max-width: 767px) {
  .thank-you-wrapper .thank-you {
    min-height: 0;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    background-image: none !important;
  }
}

.thank-you-wrapper .thank-you .content {
  width: 40%;
}

@media (max-width: 767px) {
  .thank-you-wrapper .thank-you .content {
    width: 248px;
    margin: 0 auto;
  }
}

.widget_ff_calculator_widget {
  position: relative;
  background: #26c4bd;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #26c4bd 0%, #02a7b6 100%, #7db9e8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #26c4bd 0%, #02a7b6 100%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #26c4bd 0%, #02a7b6 100%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26c4bd', endColorstr='#7db9e8',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 20px;
}

.widget_ff_calculator_widget .btn-wrapper {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  margin-top: 10px;
  border-top: 2px solid #fff;
}

#slider-form h2 {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#slider-form .slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#slider-form .slider-wrapper .slider-less,
#slider-form .slider-wrapper .slider-more {
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

#slider-form .slider-wrapper .slider-less {
  background-image: url("images/btn-less.png");
  margin-right: 5px;
}

#slider-form .slider-wrapper .slider-more {
  background-image: url("images/btn-more.png");
  margin-left: 5px;
}

#slider-form .slider-wrapper .slider {
  width: calc(100% - 50px);
}

#slider-form .slider-wrapper + p {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #c7fefd;
  margin-top: 3px;
  margin-bottom: 30px;
}

#slider-form .slider {
  height: 2px;
  background-color: #c7fefd;
  border: none;
  border-radius: 0;
}

#slider-form .slider .ui-slider-range {
  background-color: #c7fefd;
}

#slider-form .slider .ui-slider-handle {
  height: 18px;
  width: 64px;
  margin-left: -32px;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #12b4b9;
  text-align: center;
  background-color: #c7fefd !important;
  border: none !important;
  border-radius: 8px !important;
  top: -8px;
  cursor: pointer;
}

#slider-form .slider .ui-slider-handle:before {
  content: '';
  display: block;
  width: 5px;
  height: 8px;
  background: url("images/arrow-left.png") no-repeat 0 0;
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -4px;
}

#slider-form .slider .ui-slider-handle:after {
  content: '';
  display: block;
  width: 5px;
  height: 8px;
  background: url("images/arrow-right.png") no-repeat 0 0;
  position: absolute;
  top: 50%;
  right: 4px;
  margin-top: -4px;
}

#slider-form .summary table {
  width: 100%;
}

#slider-form .summary table tbody td {
  font-size: 14px;
  color: #c7fefd;
  border-bottom: 1px dashed #c7fefd;
  padding: 0;
  vertical-align: baseline;
}

#slider-form .summary table tbody td:first-child {
  text-transform: lowercase;
}

#slider-form .summary table tbody td:last-child {
  font-size: 24px;
  text-align: right;
  color: #fff;
}

#slider-form .summary table tfoot td {
  color: #fff;
  text-align: right;
}

#slider-form .summary .loan-cost:before {
  content: '+ ';
}

#slider-form .summary .loan-sum,
#slider-form .summary .loan-sum + span {
  font-weight: 700;
}

#slider-form .summary .loan-sum:before {
  content: '= ';
}

#slider-form .btn-wrapper button {
  display: block;
  width: 100%;
  border: none;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.3) inset;
  padding: 10px;
  text-shadow: 0 0 2px 2px #67919b;
}
