.posts {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;

	.blog & {
		.post {
			width: 31%;
			background-color: #fff;
			margin-bottom: 30px;

			@include mq(tablet) {
				width: 48%;
			}

			@include mq(mobile) {
				display: block;
				width: 100%;
				margin-bottom: 50px;
			}
		}
	}
}

.post {
	border: 1px solid #cdcdcd;

	.gfx {
		position: relative;
		img {
			width: 100%;
		}
	}

	.post-info {
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		font-weight: 700;
		font-size: 15px;
		color: $color-opposite;
		text-transform: uppercase;
		position: absolute;
		bottom: 10px;
		right: 30px;
		left: 30px;
	}

	.post-categories {
		list-style: none;
		padding: 0;
		margin: 0;
		color: $color-primary;

		a {
			color: inherit;
			text-decoration: none;
		}

		li {
			display: inline-block;
		}

		li:after {
			content: ',';
		}
		li:last-child:after {
			content: '';
		}
	}

	.post-title {
		a {
			text-decoration: none;
			color: inherit;
		}

		+ p {
			font-size: 19px;
			margin-bottom: 30px;
		}
	}

	.content {
		padding: 25px 30px;

		@include mq(mobile) {
			padding: 20px 15px 20px !important;
		}
	}

	.post-entry {
		color: #444444;

		img {
			width: 100%;
			margin-bottom: 30px;
		}

		h1,h2,h3,h4,h5,h6 {
			margin-bottom: 15px;
		}

		h1 {
			font-weight: 700;
			font-size: 30px;
			line-height: 34px;
			margin-top: 30px;

			&:first-child {
				margin-top: 0;
				margin-bottom: 30px;
			}
		}

		h2 {
			font-weight: 400;
			font-size: 26px;
		}

		h3 {
			font-weight: 400;
			font-size: 20px;
			text-transform: uppercase;
		}

		h4 {
			font-weight: 700;
			font-size: 18px;
			text-transform: uppercase;
		}

		h5 {
			font-weight: 400;
			font-size: 16px;
			text-transform: uppercase;
		}

		h6 {
			font-weight: 700;
			font-size: 16px;
			text-transform: uppercase;
		}

		p {
			font-weight: 400;
			font-size: 15px;
		}

		a {
			color: $color-primary;
		}

		blockquote {
			font-style: italic;
			font-size: 19px;
			position: relative;
			margin-left: 0;
			padding-left: 40px;
			&:before {
				content: '\201C';
				font-size: 80px;
				line-height: 80px;
				color: $color-primary;
				position: absolute;
				top: 0;
				left: -8px;
			}
		}

		ul, ol {
			list-style: none;
			padding: 0;
			margin: 0 0 30px;
			li {
				
				position: relative;
			}
		}

		ul {
			li {
				padding-left: 35px;
				&:before {
					content: '';
					display: block;
					width: 4px;
					height: 4px;
					border-radius: 100%;
					background-color: $color-primary;
					position: absolute;
					top: 7px;
					left: 25px;
				}
			}
		}

		ol {
			counter-reset: custom-counter;
			li {
				padding-left: 40px;
				&:before {
					content: counter(custom-counter)'.';
					counter-increment: custom-counter;
					display: block;
					font-weight: 700;
					color: $color-primary;
					position: absolute;
					top: 0;
					right: calc(100% - 35px);
				}
			}
		}
	}

	.tags-wrapper {
		font-size: 16px;
		color: $color-primary;
		padding-top: 15px;
		border-top: 2px solid #e6e6e6;

		span {
			color: #c8c8c8;
		}
		
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: inline-block;
		}

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	.blog &,
	.category &,
	.archive & {
		.gfx, .content {
			flex: 1;
			position: relative;

			@include mq(mobile) {
				width: 100%;
			}
		}

		.gfx {
			img {
				display: block;
				width: 100%;
			}
		}

		.content {
			padding: 35px 25px 30px;
		}

		.post-title {
			font-size: 26px;
			a {
				color: inherit;
			}
		}

		.link-simple {
			font-style: italic;
			text-decoration: none;
		}

		.post-info {
			display: flex;
			justify-content: space-between;
			margin-bottom: 0;
			margin-top: 20px;
			position: static;
			color: #a9a8a8;
			font-weight: 500;
			font-size: 13px;
			color: #676767;
		}

		.post-categories {
			color: inherit;
		}
	}

	.category &,
	.archive & {
		.gfx, .content {
			flex: 1;
			position: relative;

			@include mq(mobile) {
				width: 100%;
			}
		}

		.gfx {
			img {
				display: block;
				width: 100%;
			}
		}
	}
}

.single-post,
.category,
.archive {
	.post, .posts {
		background-color: #fff;
	}
}

.category,
.archive {
	main.content {
		padding-top: 0;
	}

	.posts {
		background: none;

		.post {
			width: calc(50% - 20px);
			margin-bottom: 50px;

			&:nth-child(even) {
				float: right;
			}
		}
	}
}

.post-pagination-wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;

	@include mq(mobile) {
		flex-flow: column;
		margin: 0;
	}

	a {
		display: block;
		width: calc(50% - 6px);
		min-height: 200px;
		position: relative;
		color: $color-opposite;
		text-decoration: none;

		@include mq(mobile) {
			width: 100%;
			margin-top: 20px;
			min-height: 0;

			&:first-child {
				margin-top: 0;
			}
		}

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba($color-primary, 0.7);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			transition: background 0.3s ease-in;
		}

		.content {
			position: relative;
			z-index: 1;
			padding: 20px 40px;

			@include mq(mobile) {
				padding: 20px 15px;
			}

			.link {
				display: inline-block;
				font-weight: 700;
				font-size: 16px;
				color: #c7fefd;
				text-transform: uppercase;
				margin-bottom: 20px;
			}

			.title {
				font-size: 26px;
				line-height: 30px;
				margin-bottom: 0;
			}

			&.prev {
				text-align: left;
				.title, .link {
					text-align: left;
				}
				.link:before {
					content: '\2039';
					display: inline-block;
					margin-right: 3px;
				}
			}

			&.next {
				text-align: right;
				.title, .link {
					text-align: right;
				}
				.link:after {
					content: '\203A';
					display: inline-block;
					margin-left: 3px;
				}
			}
		}

		&:hover:before {
			background-color: $color-primary;
		}
	}
}

.widget {
	background-color: #fff;
	margin-bottom: 30px;
	padding: 25px;

	.widget-title {
		color: #04759a;
	}

	&.widget_categories {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		a {
			text-decoration: none;
		}
	}

	&.widget_recent_entries {
		ul {
			padding: 0 0 0 15px;
		}
	}
}

.single-post,
.category {
	.menu .blog-menu-item {
		font-weight: 700;	
	}
}