footer.main {
	background-color: $color_opposite;
	text-align: center;
	margin-top: 65px;
	padding: 65px 0;

	@include mq(mobile) {
		margin-top: 30px;
		padding-top: 50px;
		padding-bottom: 20px;
	}

	.widget_text {
		text-align: left;
		padding: 0;

		.widget-title {
			@extend .heading-line;
		}
	}
}