.form-steps-wrapper {
	h1 {
		font-weight: 700;
		font-size: 24px;
		color: #444;
		text-align: center;
		margin-bottom: 55px;

		@include mq(tablet) {
			margin-bottom: 40px;
		}

		&:after {
			content: '';
			display: block;
			width: 40px;
			height: 4px;
			background-color: $color-primary;
			margin: 25px auto 0;
		}
	}
}

.form-wrapper {
	display: block !important; //temp
	.row {
		justify-content: space-between;
	}
	.step {
		display: block !important; //temp
		// + .step {
		// 	display: none;
		// }
	}

	.thank-you {
		display: none;
	}

	// @include mq(tablet) {
	// 	.row {
	// 		flex-direction: column-reverse;
	// 	}

	// 	.box {
	// 		margin: 0;

	// 		&.support {
	// 			display: none;
	// 		}
	// 	}
	// }

	.content-wrapper {
		width: calc(100% - 360px);

		@include mq(mobile) {
			width: 100%;
		}
	}

	aside {
		width: 360px;
		padding-top: 20px;
		padding-bottom: 20px;

		.box:last-child {
			margin-bottom: 0;
		}

		@include mq(mobile) {
			width: 100%;
		}
	}
}

.progress-wrapper {
	.steps-wrapper {
		margin-bottom: 10px;
	}

	.step-description {
		margin-bottom: 30px;
	}
}

.steps-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: left;
	
	p, span {
		font-weight: 700;
		color: #333333;
	}

	p {
		font-size: 16px;
		margin-bottom: 5px;
	}

	span {
		display: block;
		font-size: 12px;
	}

	@include mq(tablet) {
		justify-content: center;
		> div {
			display: none;
			&.active {
				display: block;
				text-align: center;
			}
		}
	}
}

.steps-indicator {
	position: relative;
	width: 100%;
	height: 10px;
	background-color: #f6f6f6;
	margin-top: 10px;
	margin-bottom: 10px;
	box-sizing: content-box;
	border-bottom: 2px solid #d5d5d5;
	border-right: 2px solid #d5d5d5;

	span {
		display: block;
		width: 0;
		height: 10px;
		background-color: $color-primary;
		transition: width 0.5s ease-in;
	}
}

.step-description {
	font-weight: 700;
	font-size: 26px;
	color: $color-primary;
	text-transform: uppercase;
	text-align: right;
	margin: 0;

	~ .step-description {
		display: none;
	}

	@include mq(tablet) {
		text-align: center;
	}

	b {
		font-weight: 800;
	}
}

.form-wrapper form {
	position: relative;
	padding-top: 20px;

	@include mq(tablet) {
		padding-top: 0;
	}

	h2 {
		font-weight: 700;
		font-size: 24px;
		color: #444;
		text-align: left;
		margin-top: 15px;
		margin-bottom: 30px;

		&:after {
			content: '';
			display: block;
			width: 60px;
			height: 1px;
			background-color: #ccc;
			margin-top: 10px;
		}
	}

	fieldset {
		border: none;
		padding: 0;
		margin: 0;
	}

	.form-item {
		margin-bottom: 25px;

		&.vertical label:not(.label) {
			display: block;
			width: 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}
	}

	label {
		font-weight: 700;
		font-size: 12px;
		color: #999999;
		margin-right: 25px;
		cursor: pointer;

		a {
			color: $color-primary;
		}
	}

	.label {
		display: block;
		font-weight: 700;
		font-size: 12px;
		color: $color-primary;
		margin-bottom: 8px;
		margin-right: 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		display: block;
		width: 100%;
		height: 40px;
		padding: 0 10px;
		border: 1px solid #c3c3c3;
		font-weight: 400;
		font-size: 16px;

		&:focus {
			border-color: $color-primary;
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		display: inline-block;
		vertical-align: 1px;
		margin-right: 10px;
	}

	input:-webkit-autofill {
	    -webkit-box-shadow: 0 0 0 1000px white inset !important;
	}

	textarea {
		height: 210px;
		padding: 10px;
		resize: noresize;
	}

	select {
		width: 100% !important;
	}

	.ui-selectmenu-button.ui-button {
		// border: 1px solid $color-blue;
		border-radius: 0;
		background-color: #fff;
		width: 100%;
		height: 40px;
		padding: 0;

		.ui-selectmenu-text {
			width: calc(100% - 60px);
			height: 100%;
			padding: 0 10px;
			font-size: 16px;
			line-height: 40px;
		}

		.ui-selectmenu-icon {
			margin: 10px 10px 0;
		}
	}

	.error-msg {
		display: none;
	}

	.wpcf7-not-valid,
	.error {
		border-color: red !important;

		~ small, 
		~ .error-msg {
			display: block;
			color: red;
		}
	}

	small {
		display: block;
		margin-top: 6px;
		font-weight: 700;
		font-size: 10px;
		color: #999;
	}

	.btn-wrapper {
		text-align: center;
		margin-top: 10px;
	}
}

.ui-menu {
	max-height: 200px;
}

.box {
	background-color: #fff;
	border: 1px solid #cdcdcd;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 30px 35px;
	color: #333333;
	position: relative;

	@include mq(mobile) {
		padding: 20px 15px !important;
	}

	h3 {
		font-weight: 700;
		font-size: 16px;
		color: $color-primary;
		margin-bottom: 20px;
	}

	table {
		width: 100%;
		border-collapse: collapse;

		td {
			font-weight: 700;
			font-size: 16px;
			padding: 5px 0;
			vertical-align: top;
			white-space: nowrap;

			&:first-child {
				width: 99%;
			}
		}

		td:last-child {
			font-size: 18px;
			color: #a3a3a3;
		}

		tr:last-child {
			td:last-child {
				color: $color-primary;
			}
		}

		tbody {
			tr:last-child {
				td {
					padding-bottom: 18px;
				}
			}
		}

		tfoot {
			border-top: 1px solid #cccccc;
			td {
				padding-top: 15px;
				padding-bottom: 5px;
			}
		}

		small {
			display: block;
			font-weight: 700;
			font-size: 12px;
			margin-top: 5px;
			color: #333;
		}
	}

	&.support {
		background: url('images/gfx-support.jpg') no-repeat top right;
		background-size: cover;
		padding: 30px 15px 30px 35px;

		p {
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			color: #333333;
			max-width: 65%;
			margin-bottom: 20px;

			em {
				display: block;
				font-style: normal;
				color: $color-primary;
			}
		}
	}
}

.form-wrapper,
.thank-you-wrapper {
	.btn-primary {
		font-size: 12px;
		padding: 12px 25px 10px;
		border: none;
		border-radius: 0;
		box-shadow: 2px 2px 0 0 #007872;
		cursor: pointer;
	}
}

.thank-you-wrapper {
	display: none;
	padding: 100px 0;
	text-align: center;

	@include mq(mobile) {
		padding: 20px 0 0;
	}

	h2 {
		font-weight: 700;
		font-size: 24px;
		color: #444;
		margin: 30px 0 25px;
		letter-spacing: -1px;
	}

	p {
		font-weight: 400;
		font-size: 16px;
		margin: 0 auto 40px;
		color: #444;
		max-width: 250px;
		letter-spacing: -1px;
	}

	.fa {
		font-size: 24px;
		color: $color-primary;
	}

	.thank-you {
		display: none;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		min-height: 500px;
		max-width: 760px;
		margin: 0 auto;
		align-items: center;

		@include mq(mobile) {
			min-height: 0;
			padding-top: 40px !important;
			padding-bottom: 40px !important;
			background-image: none !important;
		}

		.content {
			width: 40%;

			@include mq(mobile) {
				width: 248px;
				margin: 0 auto;
			}
		}
	}
}