.btn {
	font-weight: 700;
	font-size: 24px;
	color: #f6f6f6;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid $color_opposite;
	background-color: $color-primary;
	border-radius: 2px;
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.21);

	&:hover {
		color: #fff;
	}
}

.btn-simple {
	font-weight: 700;
	font-size: 19px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #cccccc;
	padding: 10px 15px;

	&:hover {
		background-color: $color-primary;
		color: #fff;
	}
}

.heading-line {
	color: #6c6c6c;
	overflow: hidden;

	span {
		position: relative;

		&:after {
			content: '/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////';
			font-style: italic;
			font-size: 6px;
			letter-spacing: 5px;
			margin-left: 5px;
			display: block;
			position: absolute;
			bottom: -3px;
			left: 100%;
		}
	}
}

.main {
	.page-header {
		padding: 20px 0 30px;
		h1 {
			font-weight: 400;
			font-size: 26px;
			text-transform: uppercase;
			@extend .heading-line;
		}

		p {
			text-align: justify;
			column-count: 2;
			column-gap: 40px;

			@include mq(mobile) {
				column-count: 1;
				column-gap: 0;
			}
		}
	}
}

.pagination {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;

	h2 {
		display: none;
	}

	.page-numbers {
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 30px;
		background: #fff;
		color: $color-primary;
		line-height: 30px;
		text-align: center;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}

		&.current {
			background-color: $color-primary;
			color: #fff;
			font-weight: 700;
		}
	}
}

.row {
	display: flex;
	margin: 0 -15px;

	@include mq(mobile) {
		display: block;
	}

	.col {
		padding: 0 15px;
	}
}

.contact-links {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin-top: 10px;
	}

	a {
		font-weight: 700;
		font-size: 16px;
		color: $color-primary;

		@include mq(mobile) {
			font-size: 14px;
		}

		&:before {
			font-family: 'FontAwesome';
			font-size: 12px;
			display: inline-block;
			margin-right: 10px;
		}
	}

	[href*="mailto"] {
		&:before {
			content: '\f0e0';
		}
	}

	[href*="tel"] {
		&:before {
			content: '\f095';
		}
	}
}