header.main {
	padding: 0;
	background-color: #fff;
	position: relative;
	box-shadow: 0 0 5px -1px #999;

	.container {
		display: flex;
		flex-flow: row;
		justify-content: flex-end;
		align-items: center;
		position: relative;

		&:after {
			display: none;
		}
	}

	.menu {
		list-style: none;
		padding: 0;
		margin: 0 75px 0 0;
		font-size: 0;

		@include mq(mobile) {
			margin: 0;
		}

		li {
			display: inline-block;

			@include mq(mobile) {
				display: block;
				padding: 0;
			}
		}

		.current-menu-item,
		li:hover {
			a {
				font-weight: 700;
				color: #00ada5;
				border-color: #00ada5;
			}
		}

		a {
			display: block;
			font-size: 14px;
			color: #8a8a8a;
			text-transform: uppercase;
			text-decoration: none;
			border-bottom: 2px solid transparent;
			padding: 28px 12px 24px;

			@include mq(mobile) {
				display: inline-block;
				padding: 10px;
			}

			&:after {
				display: block;
				content: attr(title);
				font-weight: bold;
				height: 0;
				overflow: hidden;
				visibility: hidden;
			}
		}
	}

	nav {
		@include mq(mobile) {
			display: none;
			position: absolute;
			top: calc(100% + 2px);
			left: 0;
			right: 0;
			background-color: #fff;
			padding: 20px 15px;
			text-align: center;

			li {
				padding: 10px 0;
			}
		}
	}

	.logo {
		margin: 9px auto 9px 0;
		img {
			height: 55px;
			width: auto;
		}
	}

	.btn-menu {
		display: none;
		width: 30px;
		height: 30px;
		margin-right: 20px;
		color: $color-primary;

		@include mq(mobile) {
			display: block;
		}

		img {
			display: block;
			width: 100%;
		}

		&.active + nav {
			display: block;
		}
	}

	.btn-search {
		display: block;
		width: 25px;
		height: 25px;
		border: 1px solid $color_primary;
		border-radius: 2px;
		background: url("images/icon-search.png") no-repeat center center;
	}

	.search-wrapper {
		position: absolute;
		top: calc(100% + 2px);
		right: 0;
		background-color: $color_opposite;
		padding: 15px;
		display: none;

		input {
			display: inline-block;
			vertical-align: middle;
			height: 40px;
			margin: 0;
			padding: 0;
			border: none;
			background-color: transparent;
		}

		form {
			border: 1px solid #e6e6e6;
			border-radius: 4px;
			overflow: hidden;
			font-size: 0;
		}

		input[type="text"] {
			font-style: italic;
			font-size: 18px;
			color: #8a8a8a;
			padding-left: 10px;
			padding-right: 10px;
		}

		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: #dadada;
			opacity: 1;
		}
		::-moz-placeholder { /* Firefox 19+ */
			color: #dadada;
			opacity: 1;
		}
		:-ms-input-placeholder { /* IE 10+ */
			color: #dadada;
			opacity: 1;
		}
		:-moz-placeholder { /* Firefox 18- */
			color: #dadada;
			opacity: 1;
		}

		input[type="submit"] {
			width: 32px;
			font-size: 26px;
			color: $color_opposite;;
			background-color: $color_primary;
		}

		&.active {
			display: block;
		}
	}
}