.single-post,
.category,
.archive,
.page {
	main.content {
		padding-top: 40px;

		@include mq(mobile) {
			padding-top: 15px;
		}
	}

	.posts, .post-wrapper {
		width: calc(100% - 335px);
		float: left;
	}

	aside {
		width: 290px;
		float: right;
	}

	@include mq(tablet) {
		.posts, .post-wrapper, aside {
			width: 100%;
			float: none;
		}

		.post, .post-wrapper {
			margin-bottom: 40px;
		}
	}
}