.loader,
.loader:after {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;

  .form-wrapper & {
    border-top: 1.1em solid rgba(0, 173, 165, 0.2);
    border-right: 1.1em solid rgba(0, 173, 165, 0.2);
    border-bottom: 1.1em solid rgba(0, 173, 165, 0.2);
    border-left: 1.1em solid $color-primary;
  }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading {
  .loader {
    display: block;
  }
  .calculator-wrapper,
  .btn-wrapper {
    visibility: hidden;
  }

  .step {
    opacity: 0.3;
  }
}