.widget_ff_calculator_widget {
	position: relative;
	background: #26c4bd; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #26c4bd 0%, #02a7b6 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #26c4bd 0%,#02a7b6 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #26c4bd 0%,#02a7b6 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26c4bd', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 20px;

	.btn-wrapper {
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
		margin-bottom: -20px;
		margin-top: 10px;
		border-top: 2px solid #fff;
	}
}

#slider-form {
	h2 {
		font-weight: 400;
		font-size: 24px;
		color: $color_opposite;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	.slider-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.slider-less,
		.slider-more {
			display: block;
			width: 20px;
			height: 20px;
			padding: 0;
			border: 0;
			border-radius: 0;
			background-color: transparent;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			cursor: pointer;
		}

		.slider-less {
			background-image: url('images/btn-less.png');
			margin-right: 5px;
		}
		.slider-more {
			background-image: url('images/btn-more.png');
			margin-left: 5px;
		}

		.slider {
			width: calc(100% - 50px);
		}

		+ p {
			display: flex;
			justify-content: space-between;
			font-size: 14px;
			color: #c7fefd;
			margin-top: 3px;
			margin-bottom: 30px;
		}
	}

	.slider {
		height: 2px;
		background-color: #c7fefd;
		border: none;
		border-radius: 0;

		.ui-slider-range {
			background-color: #c7fefd;
		}

		.ui-slider-handle {
			height: 18px;
			width: 64px;
			margin-left: -32px;
			font-weight: 700;
			font-size: 13px;
			line-height: 19px;
			color: #12b4b9;
			text-align: center;
			background-color: #c7fefd !important;
			border: none !important;
			border-radius: 8px !important;
			top: -8px;
			cursor: pointer;

			&:before {
				content: '';
				display: block;
				width: 5px;
				height: 8px;
				background: url('images/arrow-left.png') no-repeat 0 0;
				position: absolute;
				top: 50%;
				left: 4px;
				margin-top: -4px;
			}
			&:after {
				content: '';
				display: block;
				width: 5px;
				height: 8px;
				background: url('images/arrow-right.png') no-repeat 0 0;
				position: absolute;
				top: 50%;
				right: 4px;
				margin-top: -4px;
			}
		}
	}

	.summary {
		table {
			width: 100%;
			tbody td {
				font-size: 14px;
				color: #c7fefd;
				border-bottom: 1px dashed #c7fefd;
				padding: 0;
				vertical-align: baseline;

				&:first-child {
					text-transform: lowercase;
				}
				&:last-child {
					font-size: 24px;
					text-align: right;
					color: #fff;
				}
			}
			tfoot td {
				color: #fff;
				text-align: right;
			}
		}

		.loan-cost:before {
			content: '+ ';
		}

		.loan-sum,
		.loan-sum + span {
			font-weight: 700;
		}

		.loan-sum:before {
			content: '= ';
		}
	}

	.btn-wrapper {
		button {
			display: block;
			width: 100%;
			border: none;
			box-shadow: none;
			border-radius: 0;
			cursor: pointer;
			box-shadow: 0 -2px 5px 0 rgba(0,0,0, 0.3) inset;
			padding: 10px;
			text-shadow: 0 0 2px 2px #67919b;
		}
	}
}